.categoryWrapper {
    padding-top: 70px;
    background-color: #fff;
}

.card-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px;
    font-size: 15px;
}

.card-price {
  color: red !important;
  font-size: 20px !important;
}

.product-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid transparent; /* Viền trong suốt mặc định */
    margin-bottom: 40px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid red; /* Viền đỏ khi hover */
}

.product-card img {
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(1);
}

.product-card:hover img {
    transform: scale(1.05);
   
}
