/* .homeWrapper {
    padding-top: 70px;
} */

a {
    text-decoration: none;
    color: #000;
}

.home_background {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.home_background-item {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

.btn-slide {
    position: absolute;
    top: 50%;
    z-index: 111;
    color: #fff;
    cursor: pointer;
    display: none;
    border: none;
    background-color: transparent;
}

.prev {
    left: 10px;
}

.next {
    right: 10px
}

.home_background:hover .btn-slide {
    display: block;
}

.sale-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px;
    font-size: 15px;
}

.product-card {
    border-radius: 0;
    box-shadow: none;
}

.product-img {
    border-radius: 0;
}

@media screen and (max-width: 1024px) {
    .homeWrapper {
        padding-top: 70px;
    }
}