.footer {
  background-color: #222;
  color: #fff;
  padding: 6px 10%;
}

.footer-container {
  max-width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-column {
  flex: 1;
  min-width: 280px;
  padding: 5px 0;
  font-size: 14px;
  color: #ffffff;
}
