.scroll-to-top {
    position: fixed;
    bottom: 25px;
    right: 20px;
    /* background: linear-gradient(45deg, #ffffff, #000000); */
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s, transform 0.2s;
    cursor: pointer;
    z-index: 9999;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .scroll-to-top.visible {
    opacity: 1;
  }
  
  .scroll-to-top:hover {
    transform: scale(1.1);
    background-color: aliceblue;
    color: black;
  }
  
  /* Tooltip */
  .tooltip {
    position: absolute;
    top: -35px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }
  
  .scroll-to-top:hover .tooltip {
    opacity: 1;
  }
  